* {
   margin: 0;
   padding: 0;
 }
 
 .content {
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: #fff;
 }

 /* PRODUCTS */
 .books {
   position: relative;
   overflow: hidden;
   margin-top: 25px;
 }

 .books:nth-child(2) { /* margin para a primeira section */
   margin-top: 100px;
} 
 
 .books-category {
   padding: 0;
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 40px;
   text-transform: capitalize;
 }
 
 .books-container {
   padding: 0;
   display: flex;
   overflow-x: auto;
   scroll-behavior: smooth;
 }
 
 .books-container::-webkit-scrollbar {
   display: none;
 }
 
 .books-card {
   flex: 0 0 auto;
   width: 250px;
   height: 450px;
   margin-right: 40px;
 }
 
 .books-image {
   position: relative;
   width: 100%;
   height: 350px;
   overflow: hidden;
 }
 
 .books-thumb {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .card-btn:hover {
   background: #ff7d7d;
   color: #fff;
 }
 
 .books-info {
   width: 100%;
   height: 100px;
   padding-top: 10px;
 }
 
 .books-short-description {
   width: 100%;
   height: 20px;
   line-height: 20px;
   overflow: hidden;
   opacity: 0.5;
   text-transform: capitalize;
   margin: 5px 0;
 }
 
 .price {
   font-weight: 900;
   font-size: 20px;
 }
 
 .pre-btn,
 .nxt-btn {
   border: none;
   width: 2vw;
   height: 100%;
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
   cursor: pointer;
   z-index: 8;
 }
 
 .pre-btn {
   left: 0;
   transform: rotate(180deg);
 }
 
 .nxt-btn {
   right: 0;
 }
 
 .pre-btn img,
 .nxt-btn img {
   opacity: 0.2;
 }
 
 .pre-btn:hover img,
 .nxt-btn:hover img {
   opacity: 1;
 }


 #imagem {
 height: 40rem;
 width: 100rem; 
}

#titulo, #autor, #ano, #descricao {
  
}

.title-header {
  display: inline-block;
  margin-right: 0.2rem;
}
 