.line{
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75); /* Mudança de cor do texto da animação */
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}


@keyframes blinkCursor {
    from {
        border-right-color: rgba(18, 15, 15, 0.75); /* Mudança de cor do seletor da animação */
    }
    to {
        border-right-color:transparent ;
    }
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 14.5em;
    }
}

.div-config {
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    margin-top: 50px;
    margin-right: 25px;
    background-color: white;
    width:100vw;
    height: 100px;
  }

  .ul-config {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    list-style-type: none;
  }

  .li-textos {
    width: 700px;
    padding: 5px;
    height: 450px;
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
    color: black;
    font-size: 22px;
  }

  
.text-lateral {
    width:100px;
    height:40px;
    margin-top: 20px;
    text-align: center; 
    margin-left: 100px;  
    margin-right: 50px;    
    list-style-type: none;
  }

