* {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 85vh;
  background: url("../imagens/denuncie.jpg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -60px;
}

#hero:before {
  content: "";
  background: rgba(3, 8, 8, 0.123);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
}

#hero .btn-get-started {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px 10px 28px;
  border-radius: 50px;
  transition: 0.5s;
  border: 1px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #1e20209a;
  border: 1px solid #b97070;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.denuncie-text {
  color: rgb(232, 81, 81);
}

 
.img-hover:hover {
  transform: scale(1.05); 
}

.linha_titulo {
  background-image: linear-gradient(to right, transparent, rgb(186, 245, 245), transparent); 
  border: 0;
  height: 3px;
}

/*-------------------------------*/

.justify {
  display: flex;
  text-align: justify;
  font-size: 20px;
}

#p-faqs {
  display: flex;
  text-align: justify;
  font-size: 19px
}

#pergunta-faqs {
  font-size: 23px;
}

#info-responde {
  font-size: 18px;
}

#desc-categoria {
  font-size: 17px;
}

#nome-categoria {
  font-size: 30px;
}
